<h1 class="animated lightSpeedIn 1" id="rideDa">Ride da Coaster</h1>


<div class="container">
    <div id="_bg">
        <div class="row">
            <div class="col">
                <div id="add">
                    <p >Add a Coaster</p>

                    <form class="create-update-form" action="/burgers" method="POST">
                        <div class="form-group">
                            <label id="coasterName" for="newB"></label>
                            <input type="text" id="newB" name="burger_name">
                        </div>
                        <button id="btnSubmit" class="submit" type="submit">Add Coaster</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-around">
                <div class="col-6">
                    <div id="available">
                        <p>Coasters available to ride</p>

                        {{#each burgers}} {{#unless this.devoured}}

                        <form class="text-center toolTip" action="/burgers/{{this.id}}" method="POST">
                            
                            <input type="hidden" name="devoured">
                            <button id="rideMe" class="btn" type="submit" name="action" data-toggle="tooltip" data-placement="right" data-html="true" title="Click to ride!">{{this.burger_name}}</button>
                            
                        </form>
                        

                        {{/unless}} {{/each}}

                    </div>
                    
                </div>

                <div class="col-6">
                    <div id="devoured">
                        <p>Coasters that have been ridden</p>

                        {{#each burgers}}
                        {{#if this.devoured}}
                        {{#unless this.deleted}}

                        {{!-- <div class="input-group">
                            <li id="deleteCoaster" class="form-control">{{this.burger_name}}</li>
                            <form action="/delete/{{this.id}}" method="POST">
                                <button class="btn" type="submit" name="action">Delete</button>
                            </form>
                        </div> --}}
                        
                        <form class="text-center" action="/delete/{{this.id}}"method="POST">
                            
                            <button id="deleteCoaster" class="btn" type="submit" name="action"  data-toggle="tooltip" data-placement="right" data-html="true" title="Click to delete!">{{this.burger_name}}</button>
                        </form>

                        {{/unless}}
                        {{/if}}
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
